.height {
  height: 24px;
}


.col-xs-1 {
  height: 24px;
  background-color: gray;
  border: 2px white solid;
}


.block, .full {
  background-color: purple;
}


.lshaped-right-full {
  background-color: green;
}

.l-shaped-right > .row > .col-xs-4,
.l-shaped-left > .row > .col-xs-4,
.square > .row > .col-xs-4,
.long > .row > .col-xs-4,
.s-shaped-right > .row > .col-xs-4,
.s-shaped-left > .row > .col-xs-4 {
  height: 20px;
  width: 20px;
  background-color: gray;
  border: 2px white solid;
}
